.form-component {
  margin-inline: auto;
}

.required {
  color: #f03e3e;
}

.required-content {
  margin-bottom: 1rem;
}

.form-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.form-2col-container {
  width: 40%;
}

.form-heading {
  margin-top: 1rem;
  font-size: 48;
  text-align: center;
}

.form-errors-container {
  width: 25%;
  margin-left: 18px;
  margin-bottom: 1.2rem;
}

.form-errors-list {
  color: #f03e3e;
}

.form-label {
  display: block;
  margin-bottom: 0.2rem;
}

.form-input {
  width: 100%;
  height: 1.6rem;
  border-radius: 5px;
  border: 1px solid #868e96;
  margin-bottom: 0.8rem;
  padding: 1rem 0.5rem;
}

.form-input:focus,
select:focus {
  outline: none;
  border-color: #5c7cfa;
}

.form-select {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #868e96;
  margin-bottom: 0.8rem;
  padding: 0.5rem;
}

.form-select::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.button-ribbon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-ribbon button {
  width: 100%;
  font-size: inherit;
  padding: 0.6rem 0rem;
  font-family: inherit;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 0.6rem;
  cursor: pointer;
}

.redirect-link {
  color: black;
}

.modal {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  width: 80%;
  max-width: 400px;
  position: relative;
}

.modal-heading {
  margin-bottom: 0.6rem;
}

.modal-text {
  margin-bottom: 1rem;
}
