.calendar-page {
  display: flex;
}

.content-container {
  position: relative;
  width: 100%;
}

.calendar {
  height: 600px;
  width: 100%;
}

.selected {
  background-color: rgba(0, 0, 0, 0.2);
}

.invitees {
  height: 10rem;
  width: 10rem;
  overflow-y: scroll;
}

.calendar-container {
  padding: 2rem;
}
